@use 'styles/spacing' as *;

.container {
  padding-top: spacing(7);
  margin-bottom: spacing(0.5);
}

.season-selector-container {
  margin: spacing(2.25) auto spacing(1.5) auto;
  max-width: 1200px;
  padding: 0 spacing(3);
}
