:host {
  width: 100%;
  display: flex;
  justify-content: end;
}

a {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
}

.icon {
  color: white;
}

.item-count {
  font-size: 20px;
  margin-left: 2px;
  padding-top: 2px;
  color: white;
}
