@use 'styles/typography' as type;
@use 'styles/spacing' as *;

a {
  position: relative;
  display: flex;
  align-items: center;
  padding: spacing(1) spacing(2) spacing(1) spacing(1);
  text-decoration: none;
}

.active-nav-item {
  box-shadow: 0 2px 0 0 white;
}

.icon {
  color: white;
}

.item-count {
  font: var(--mat-sys-body-small);
  position: absolute;
  right: 0;
  bottom: spacing(3.25);
  font-size: type.px-to-rem(14);
  margin-left: spacing(0.25);
  margin-top: spacing(0.25);
  padding: spacing(0.25) spacing(0.75);
  border-radius: 12px;
  color: white;
  background-color: red;
}
