<div>
  <a [href]="linkUrl" aria-hidden="true" tabindex="-1"
    ><img
      [ngSrc]="imageUrl"
      width="1600"
      height="900"
      sizes="(max-width: 900px) 50vw, (max-width: 1200px) 25vw, (max-width: 1600px) 18.75vw, 16vw"
      alt=""
      placeholder
  /></a>
</div>
<div class="text-container">
  <div class="title">{{ title }}</div>
  <p class="description">{{ description }}</p>
  <p class="description-mobile">{{ descriptionMobile }}</p>
  <div class="button-container">
    <a [href]="linkUrl" class="view-gallery-link" [attr.aria-label]="linkAriaLabel" mat-flat-button
      >View gallery</a
    >
  </div>
</div>
