.button {
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  overflow: hidden;

  .image-wrapper {
    display: block;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.cart-text-container {
  position: relative;
}

.cart-text {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
  background-color: white;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  @media (min-width: 600px) {
    top: 8px;
    right: 8px;
  }
  @media (min-width: 1200px) {
    top: 12px;
    right: 12px;
  }
}
