@use 'styles/spacing' as *;

.page-container {
  max-width: 1200px;
  padding: spacing(9.25) spacing(3) spacing(3);
  margin: 0 auto;
}

h2 {
  font: var(--mat-sys-headline-large);
}

.image-list-spacer {
  padding: 0 0 8px 0;
}
