@use 'styles/typography' as type;

header {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: var(--mat-sys-primary);
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

ul {
  list-style: none;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 0 12px;
}

.active-nav-item {
  span {
    border-bottom: 2px solid white;
  }
}

a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: type.px-to-rem(20);
  padding: 16px 8px 16px 8px;
}

.shopping-cart-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
