@use 'styles/typography' as type;

.container {
  display: flex;
  flex-direction: column;
}

.summary-line {
  font-weight: bold;
  margin: 1em 0;
}

.total-amount {
  font-size: type.px-to-rem(18);
  font-weight: bold;
  color: #e60000;
}
