@use 'styles/spacing' as *;

.card-grid {
  display: grid;
  gap: spacing(0.5);
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
