@use 'styles/typography' as type;
@use 'styles/spacing' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--mat-sys-primary);
  color: white;
  font-size: type.px-to-rem(18);
  padding: spacing(0.5) spacing(2.5) spacing(2.5) spacing(2.5);

  @media (min-width: 900px) {
    padding: 0;
  }
}

p {
  margin: 1em 0;
  padding: 0;
}

a {
  text-transform: uppercase;
}
