.dialog-title {
  margin: 0;
  padding: 16px 24px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

::ng-deep .mdc-dialog--open .mat-mdc-dialog-surface {
  border-radius: 0;
}

::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  padding: 0;
}
