<app-page-container>
  <section>
    <h1>About</h1>
    <p>This project was setup for study and demonstration purposes of following topics:</p>
  </section>

  <section>
    <h2>Angular</h2>
    <p>
      One of my main motivations with this website was to learn Angular web framework. This site
      demonstrates that learning plenty. I am using Angular Material UI framework for the basic
      components and look of the web page.
    </p>
  </section>

  <section>
    <h2>Accessibility</h2>
    <p>
      The website is designed with accessibility in mind. It can be used with a mouse, keyboard, or
      screen reader, such as VoiceOver for Mac. All functionalities are accessible via keyboard
      navigation and screen readers, ensuring usability even for blind users.
    </p>
  </section>

  <section>
    <h2>Accessibility test automation</h2>
    <p>
      The project is using Playwright as test automation tool with &#64;axe-core/playwright library
      to automate Accessibility checks. The tests can be configured to validate specific WCAG
      versions, e.g. WCAG 2.1 with level AA.
    </p>
  </section>

  <section>
    <h2>Cloudinary CDN</h2>
    <p>
      I explored and integrated the
      <a href="https://cloudinary.com/" target="_blank">Cloudinary CDN</a> to host and scale images
      efficiently. The site delivers images in optimal resolutions: smaller images for mobile
      devices, and larger ones for wider screens, based on the user’s screen size.
    </p>
  </section>

  <section>
    <h2>Hosting</h2>
    <p>This site is hosted and served with AWS Amplify.</p>
  </section>

  <section>
    <h2>Github</h2>
    <p>
      You can find the
      <a target="_blank" href="https://github.com/spahvenn/angular-gallery">source code on GitHub</a
      >.
    </p>
  </section>
</app-page-container>
