@use 'styles/typography' as type;
@use 'styles/spacing' as *;

.container {
  max-width: 1200px;
  padding: spacing(9.25) spacing(3) spacing(3);
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: spacing(8) spacing(1) spacing(1);
  }
}

.hero-container {
  display: grid;
  grid-template-rows: auto;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 250px;
  }
}

.browse-text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: spacing(3.25) 0 spacing(4) 0;

  h2 {
    font-size: type.px-to-rem(36);
    line-height: 1;
    margin: 0;
  }

  @media (max-width: 600px) {
    padding: spacing(2.5) 0 spacing(3) 0;
    h2 {
      font-size: type.px-to-rem(28);
    }
  }
}

.gallery-link-container {
  text-align: center;
  margin: spacing(2) 0 spacing(1) 0;
  @media (min-width: 600px) {
    margin: spacing(3) 0 spacing(0.25) 0;
  }
  a {
    text-transform: uppercase;
  }
}
