.container {
  max-width: 1200px;
  padding: 74px 24px 24px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 64px 8px 8px;
  }
}

.hero-container {
  display: grid;
  grid-template-rows: auto;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 250px;
  }
}

.browse-text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 26px 0 32px 0;

  h2 {
    font-size: 36px;
    line-height: 1;
    margin: 0;
  }

  @media (max-width: 600px) {
    padding: 20px 0 24px 0;
    h2 {
      font-size: 28px;
    }
  }
}

.gallery-link-container {
  text-align: center;
  margin: 16px 0 8px 0;
  @media (min-width: 600px) {
    margin: 24px 0 2px 0;
  }
  a {
    text-transform: uppercase;
  }
}
