.skip-link {
  position: absolute;
  color: black;
  top: 0;
  left: -10000px;
  padding: 0.5rem 1rem;
  background-color: yellow;
  z-index: 100;
  cursor: pointer;
  overflow: hidden;

  &:focus {
    text-decoration: underline;
    left: 0;
  }
}
