<div class="prev-button-container">
  <button class="prev-button" aria-label="Previous image" (click)="previous()" (focus)="onFocus()" (blur)="onBlur()">
    <mat-icon>chevron_left</mat-icon>
  </button>
</div>

<mat-card class="carousel-item">
  <a [href]="slides[currentIndex].href" (focus)="onFocus()" (blur)="onBlur()">
    <img
      [ngSrc]="slides[currentIndex].img"
      alt="To gallery page"
      height="900"
      width="1600"
      sizes="(max-width: 900px) 100vw, (max-width: 1600px) 70vw, 60vw"
      placeholder
    />
  </a>
</mat-card>

<div class="next-button-container">
  <button class="next-button" aria-label="Next image" (click)="next()" (focus)="onFocus()" (blur)="onBlur()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
