<div class="container">
  <app-season-card
    title="Spring"
    description="Browse our catalog of Spring images! Amazing landscapes blossoming with life!"
    descriptionMobile="Browse our catalog of Spring images!"
    imageUrl="front-page/spring.jpg"
    imageAlt="Spring"
    linkUrl="gallery/spring"
  >
  </app-season-card>
  <app-season-card
    title="Summer"
    description="Browse our catalog of Summer images! Pick you favourite sunny landscapes!"
    descriptionMobile="Browse our catalog of Summer images!"
    imageUrl="front-page/summer.jpg"
    imageAlt="Summer"
    linkUrl="gallery/summer"
  >
  </app-season-card>
  <app-season-card
    title="Autumn"
    description="Browse our catalog of Autumn images! Pick you vivid Autumn landscapes!"
    descriptionMobile="Browse our catalog of Autumn images!"
    imageUrl="front-page/autumn.jpg"
    imageAlt="Autumn"
    linkUrl="gallery/autumn"
  >
  </app-season-card>
  <app-season-card
    title="Winter"
    description="Browse our catalog of Winter images! Bright and soft landscapes for all uses!"
    descriptionMobile="Browse our catalog of Winter images!"
    imageUrl="front-page/winter.jpg"
    imageAlt="Winter"
    linkUrl="gallery/winter"
  >
  </app-season-card>
</div>
