<div class="container">
  <app-season-card
    title="Spring"
    description="Browse our catalog of Spring images! Amazing landscapes blossoming with life!"
    imageUrl="front-page/spring.jpg"
    imageAlt="Spring"
  >
  </app-season-card>
  <app-season-card
    title="Summer"
    description="Browse our catalog of Summer images! Pick you favourite sunny landscapes!"
    imageUrl="front-page/summer.jpg"
    imageAlt="Summer"
  >
  </app-season-card>
  <app-season-card
    title="Autumn"
    description="Browse our catalog of Autumn images! Pick you vivid Autumn landscapes!"
    imageUrl="front-page/autumn.jpg"
    imageAlt="Autumn"
  >
  </app-season-card>
  <app-season-card
    title="Winter"
    description="Browse our catalog of Winter images! Bright and soft landscapes for all uses!"
    imageUrl="front-page/winter.jpg"
    imageAlt="Winter"
  >
  </app-season-card>
</div>
